* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #ffffff;
}

.container {
  width: 70vw;
  max-width: 90vw;
  padding: 2em 1.5em;
  background-color: #c3e7fd;
  margin: 1em auto;
  border-radius: 20px;
}
.name {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 1.5em;
}
.input-section {
  width: 48%;
}
label,
.error-message {
  display: block;
  font-size: 1em;
  width: 100%;
}
label {
  margin-top: 10px;
  /* margin-bottom: 0.5em; */
  font-weight: 500;
}
.gender label {
  margin-top: 0px;
  /* margin-bottom: 0.5em; */
  font-weight: 0;
}
.error-message {
  margin-top: 0.2em;
}
.name-fields input {
  outline: none;
  width: 100%;
  padding: 15px;
  border-radius: 0.3em;
  margin-bottom: 10px;
}
.gender_radio {
  float: left;
}
input {
  padding: 1em 0.5em;
  border: 1.5px solid #d0d0d0;
}
button {
  font-size: 1em;
  background-color: #3164ff;
  border: none;
  color: #ffffff;
  padding: 0.8em 0;
  margin-top: 2em;
}
.required-color {
  color: #ff4747;
}
.error {
  border-color: #ff4747;
}
.valid {
  border-color: #37a137;
}
.hide {
  display: none;
}
select {
  outline: none;
  width: 100%;
  padding: 8px;
  height: 50px;
  border-radius: 0.3em;
  margin-left: 10px;
  background-color: #ffffff;
}
button {
  height: 40px;
  width: 70px;
  padding: 5px;
  border: none;
  background-color: #3164ff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.board {
  width: 50%;
  margin-right: 0px;
}
.style {
  margin-left: auto;
}
h1,
h2,
h3 {
  text-align: center;
}
